html {
 padding: 0;
 margin:  0;
 border:  0;
}

body {
  width:            100%;
  height:           100%;
  background-color: #e3f3ff;
}

h1 {
  width:            100vw;
  height:           3em;
  color:            #fff;
  background-color: #0095ff;
  font-family:      Helvetica;
  text-align:       center;
}

#catPic {
  width:     100%;
  max-width: 1024px;
}

#giveCat {
  width:            90vw;
  margin:           20px 5% 20px 5%;
  color:            #fff;
  background-color: #0095ff;
  font-family:      Helvetica;
  text-align:       center;
  font-size:        24px;
}

#catSays {
  width:            90vw;
  margin:           20px 5% 20px 5%;
  font-family:      Helvetica;
  font-size:        24px;
}
